@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Playfair+Display:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: normal;
    background-color: #f0f0f0;

}

h1, h2, h3, h4 h5, h6{
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 4rem;
    font-weight: 500;
}
h2{
    font-size: 2.6rem;
    font-weight: 500;
}
h3{
    font-size: 2.2rem;
    font-weight: 500;
}
h4{
    font-size: 1.8rem;
    font-weight: 500;
}
h5{
    font-size: 1.4rem;
    font-weight: 500;
}
h6{
    font-size: 1rem;
    font-weight: 500;
}

p{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}


/* ======================NAV====================== */

#navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width:100%;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    border-bottom: none;
    text-align: center;
    display:flex;
    justify-content:center;
    background-color: #090B0A;
    color: #fff !important;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    animation: menu 1.5s ease;
}
@keyframes menu {
    from {
      padding-top: 10%;
      opacity: 0;
    }
    to {
      padding-top: 0%;
      opacity: 1;

    }
}
#navbar li{
    display: block;
    float: left;
    width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    list-style: none;
    transition: .5s ease-in-out;
}

#navbar li a{
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    font-weight: lighter !important;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    transition: .5s ease-in-out;
}
#navbar li a:hover{
    color: #22a2e1;
}

/* ======================HEADER====================== */

#header{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #222222;
}

#welcome-section{
    position: absolute;
    left: 10%;
    top: 40%;
}

#header h1 {
 font-size: 5rem;
 color: #dddddd !important;
 font-weight: lighter !important;
}

#header p.hero-name {
    float: right;
    font-size: 2rem;
    color: #dddddd !important;
    font-weight: lighter !important;
    text-transform: uppercase;
   }

/* ======================ABOUT====================== */

#about{
    position: relative;
    text-align: center;
    height: 75vh;
    width: 100%;
    background-color: #dddddd;
}

.about-container{
    padding-top: 25vh;
}

#about h2{
    font-size: 3rem;
    color: #222222 !important;
    font-weight: 500 !important;
}

#about .about-p{
    text-align: center;
    width: 100%;
    margin-top: 1.3rem !important;
}

#about p.about-desc {
    font-size: 1.4rem;
    color: #222222 !important;
    font-weight: 400 !important;
    margin: 0 auto;
    width: 70%;
    line-height: 2.5rem;
}

