@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Playfair+Display:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: normal;
    background-color: #f0f0f0;

}

h1, h2, h3, h4 h5, h6{
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 4rem;
    font-weight: 500;
}
h2{
    font-size: 2.6rem;
    font-weight: 500;
}
h3{
    font-size: 2.2rem;
    font-weight: 500;
}
h4{
    font-size: 1.8rem;
    font-weight: 500;
}
h5{
    font-size: 1.4rem;
    font-weight: 500;
}
h6{
    font-size: 1rem;
    font-weight: 500;
}

p{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}


/* ======================NAV====================== */

#navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width:100%;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    border-bottom: none;
    text-align: center;
    display:flex;
    justify-content:center;
    background-color: #090B0A;
    color: #fff !important;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    animation: menu 1.5s ease;
}
@keyframes menu {
    from {
      padding-top: 10%;
      opacity: 0;
    }
    to {
      padding-top: 0%;
      opacity: 1;

    }
}
#navbar li{
    display: block;
    float: left;
    width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    list-style: none;
    transition: .5s ease-in-out;
}

#navbar li a{
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    font-weight: lighter !important;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    transition: .5s ease-in-out;
}
#navbar li a:hover{
    color: #22a2e1;
}

/* ======================HEADER====================== */

#header{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #222222;
}

#welcome-section{
    position: absolute;
    left: 10%;
    top: 40%;
}

#header h1 {
 font-size: 5rem;
 color: #dddddd !important;
 font-weight: lighter !important;
}

#header p.hero-name {
    float: right;
    font-size: 2rem;
    color: #dddddd !important;
    font-weight: lighter !important;
    text-transform: uppercase;
   }

/* ======================ABOUT====================== */

#about{
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: #dddddd;
}

.about-container{
    padding-top: 35vh;
}

#about h2{
    font-size: 3rem;
    color: #222222 !important;
    font-weight: 500 !important;
}

#about .about-p{
    text-align: center;
    width: 100%;
    margin-top: 1.3rem !important;
}

#about p.about-desc {
    font-size: 1.4rem;
    color: #222222 !important;
    font-weight: 400 !important;
    margin: 0 auto;
    width: 70%;
    line-height: 2.5rem;
}

/* ======================PROJECTS====================== */
#projects{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    background-color: #dddddd;
}


#projects h2{
    font-size: 3rem;
    color: #222222 !important;
    font-weight: 500 !important;
    margin-bottom: 3rem;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 25px;
    font-size: 40px;
    width: 90%;
    min-height: 150vh;    
    margin: 0 auto;
}


.p-img1{
    background: url(https://images.unsplash.com/photo-1580628173364-43e13f68546f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjc5NjV9&auto=format&fit=crop&w=1534&q=80) no-repeat center;
}
.p-img2{
    background: url(https://images.unsplash.com/photo-1580615633593-bbf9915c5c17?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80) no-repeat center;
}
.p-img3{
    background: url(https://images.unsplash.com/photo-1580371544413-49388e6beb21?ixlib=rb-1.2.1&auto=format&fit=crop&w=390&q=80) no-repeat center;
}
.p-img4{
    background: url(https://images.unsplash.com/photo-1580145035805-66b9b1669835?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center;
}
.p-img5{
    background: url(https://images.unsplash.com/photo-1580055204467-49a72b0d1372?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80) no-repeat center;
}
.p-img6{
    background: url(https://images.unsplash.com/photo-1516069213778-f52c5ac638fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80) no-repeat center;
}
.p-img7{
    background: url(https://images.unsplash.com/photo-1576643682466-abda37fe9cab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80) no-repeat center;
}
.p-img8{
    background: url(https://images.unsplash.com/photo-1574681332110-c45ff35a5e09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80) no-repeat center;
}
.p-img9{
    background: url(https://images.unsplash.com/photo-1573311568869-7aea30da5cb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=948&q=80) no-repeat center;
}

.code-img{
    position: relative;
    background-size: cover;
    filter: grayscale(100%) brightness(100%);
    transition: all .3s ease-in-out;

}

.code-img:hover{
    filter: grayscale(0%) ;
    transition: all .5s ease-in-out;
}

.project-info{
    display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-60%);
    margin: auto;
    z-index: 9;
    transition: all .5s ease-in-out;
    
}

.overlay{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #000000;
    opacity: .5;
    transition: all .5s ease-in-out;

}
.code-img:hover > .project-info{
    display: block;

}

.code-img:hover > .overlay{
    display: flex;
    transition: all .5s ease-in-out;
}

.description{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    font-style: italic;
}
.project-name{
    font-family: 'Open sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

.project-info a{
    text-decoration: none;
    transition: all .2s ease;

}

.project-view{
    font-family: 'Open sans', sans-serif;
    font-size: .8rem;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    border: 2px solid #fff;
    margin: .8rem 5.5rem;
    line-height: 2rem;
    cursor: pointer;
    transition: all .2s ease;

}

.project-info a:hover > .project-view{
    border: 2px solid transparent;
    background: #22a2e1;
    color: #fff;
    transition: all .4s ease;
}




